<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSave()" [formGroup]="form">
      <div class="row">
        <div class="col-xs-12">          
          <button type="submit" [disabled]="!form.valid"
          class="btn btn-success">
            {{ !editMode ? "Save" : "Update" }}
          </button>
          <button type="button"  (click)="onDeleteRecipe()"
          class="btn btn-danger"> 
          {{ !editMode ? "Cancel" : "Delete" }}</button> 
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <label for="name">Name:</label>
          <input type="text" 
          formControlName = "name"
          class="form-control"            
            name="name" id="name" >          
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="imagePath">Image URL:</label>
          <input type="url" class="form-control"
          formControlName = "imagePath"
            name="imagePath" id="imagePath"
             #imgPath>          
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">          
          <img [src]="imgPath.value" 
          class="img-responsive" 
          >          
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="description">Description:</label>
          <textarea name="description"  
          class="form-control"
          formControlName= "description"
           id="description" rows="3"></textarea>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">          
          <button type="button" (click)="onAddIngredients()"
          class="btn btn-primary">Add Ingredients</button>         
        </div>
      </div>
      <hr>  
        <div class="row">
          <div class="col-xs-12"
          formArrayName="ingredients"
          >
              <div class="row"  style="margin-top: 5px"
              *ngFor="let ingredientCtrl of 
              form.get('ingredients').controls;let i = index"
              [formGroupName]="i">  

               <div class="col-xs-8">
                   <input formControlName="name" type="text"
                   class="form-control" id="name">
               </div>
               <div class="col-xs-2" >
                 <input class="form-control" 
                 formControlName="amount" type="number" >
               </div>
               <div class="col-xs-2">
                 <button (click)="onDeleteIngredient(i)" class="btn btn-danger">X</button>
               </div>             
             </div>
          </div>
        </div>     
    </form>
  </div>
</div>
